Repository geoschem/geos-chem, pull requests merged in 2021-04, with the labels that each got.

#691 [PULL REQUEST] Merge GEOS-Chem 13.0.2 into the 13.1.0 development branch
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CO2
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.Hg
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.POPs
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.TransportTracers
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCO
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagO3
  run/GCClassic/createRunDir.sh
Labels: bug, config-files, dry-run

#695 [PULL REQUEST] Fix parallelization issues in ISORROPIA and get_ndep_mod.F90
  GeosCore/get_ndep_mod.F90
  GeosCore/isorropiaII_mod.F90
Labels: bug

#682 GCHP no diff run directory updates
  run/GCHP/ExtData.rc.templates/ExtData.rc.TransportTracers
  run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem
  run/GCHP/createRunDir.sh
  run/GCHP/logging.yaml
  run/GCHP/logging.yml
  run/GCHP/runConfig.sh.template
  run/GCHP/runScriptSamples/operational_examples/harvard_gcst/gchp.benchmark.run
  run/GCHP/runScriptSamples/operational_examples/harvard_gcst/gchp.local.run
  run/GCHP/runScriptSamples/operational_examples/harvard_gcst/gchp.multirun.run
  run/GCHP/runScriptSamples/operational_examples/harvard_gcst/gchp.run
  run/GCHP/runScriptSamples/operational_examples/harvard_gcst/gchp.sge.run
  run/GCHP/runScriptSamples/simple_examples/simple_batch_job.lsf.sh
  run/GCHP/runScriptSamples/simple_examples/simple_batch_job.pbs.sh
  run/GCHP/runScriptSamples/simple_examples/simple_batch_job.slurm.sh
  test/GCHP/gchp.lsf.sh
  test/GCHP/gchp.slurm.sh
Labels: GCHP

#670 [PULL REQUEST] GCAP 2.0
  GeosCore/convection_mod.F90
  GeosCore/fast_jx_mod.F90
  GeosCore/flexgrid_read_mod.F90
  GeosCore/input_mod.F90
  GeosCore/set_global_ch4_mod.F90
  GeosCore/tagged_co_mod.F90
  GeosUtil/gc_grid_mod.F90
  GeosUtil/pressure_mod.F90
  GeosUtil/time_mod.F90
  Headers/state_grid_mod.F90
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CO2
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.Hg
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.POPs
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.TransportTracers
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCO
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagO3
  run/GCClassic/HEMCO_Config.rc.templates/header.gcap2
  run/GCClassic/HEMCO_Config.rc.templates/header.gmao
  run/GCClassic/HEMCO_Config.rc.templates/met_fields.gcap2
  run/GCClassic/HEMCO_Config.rc.templates/met_fields.gmao
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.aerosol.onlineE
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem.onlineE
  run/GCClassic/createRunDir.sh
  run/GCClassic/input.geos.templates/input.geos.CH4
  run/GCClassic/input.geos.templates/input.geos.CO2
  run/GCClassic/input.geos.templates/input.geos.Hg
  run/GCClassic/input.geos.templates/input.geos.POPs
  run/GCClassic/input.geos.templates/input.geos.TransportTracers
  run/GCClassic/input.geos.templates/input.geos.aerosol
  run/GCClassic/input.geos.templates/input.geos.fullchem
  run/GCClassic/input.geos.templates/input.geos.tagCH4
  run/GCClassic/input.geos.templates/input.geos.tagCO
  run/GCClassic/input.geos.templates/input.geos.tagO3
Labels: feature

#709 Feature/gchp history updates
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.CO2
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.TransportTracers
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GCHP/createRunDir.sh
  run/GCHP/gitignore
  run/GCHP/runConfig.sh.template
Labels: GCHP, diagnostics

#704 [PULL REQUEST] Add simplified README.md for GEOS-Chem main folder
  README.md
Labels: documentation
