Repository geoschem/geos-chem, pull requests merged in 2021-09, with the labels that each got.

#636 [PULL REQUEST] Minor update in the deposition menu in input.geos.
  run/GCClassic/input.geos.templates/input.geos.CH4
  run/GCClassic/input.geos.templates/input.geos.CO2
  run/GCClassic/input.geos.templates/input.geos.Hg
  run/GCClassic/input.geos.templates/input.geos.POPs
  run/GCClassic/input.geos.templates/input.geos.TransportTracers
  run/GCClassic/input.geos.templates/input.geos.aerosol
  run/GCClassic/input.geos.templates/input.geos.fullchem
  run/GCClassic/input.geos.templates/input.geos.tagCH4
  run/GCClassic/input.geos.templates/input.geos.tagCO
  run/GCClassic/input.geos.templates/input.geos.tagO3
  run/GCHP/input.geos.templates/input.geos.TransportTracers
  run/GCHP/input.geos.templates/input.geos.fullchem
  run/GEOS/input.geos.rc
Labels: feature, config-files

#912 [PULL REQUEST] Fix typo in CloudHet functions: Use MIN instead of MAX for ff
  KPP/fullchem/fullchem_SulfurChemFuncs.F90
  KPP/fullchem/rateLawUtilFuncs.F90
Labels: bug, KPP / Chem Mechanisms

#913 [PULL REQUEST] Revise N2O5 gamma calculation
  KPP/fullchem/fullchem_RateLawFuncs.F90
Labels: feature, KPP / Chem Mechanisms

#914 [PULL REQUEST] ClNO2 + {SALACL,SALCCL,HCL} hetchem rxns should yield HNO2, not HNO3
  KPP/aciduptake/aciduptake.eqn
  KPP/fullchem/fullchem.eqn
  KPP/fullchem/gckpp.map
  KPP/fullchem/gckpp_Function.F90
  KPP/fullchem/gckpp_Jacobian.F90
  KPP/fullchem/gckpp_JacobianSP.F90
  KPP/fullchem/gckpp_LinearAlgebra.F90
  KPP/fullchem/gckpp_Monitor.F90
  KPP/fullchem/gckpp_Parameters.F90
  KPP/fullchem/gckpp_Util.F90
Labels: bug, KPP / Chem Mechanisms

#922 [PULL REQUEST] Add advected species wildcard for ObsPack diagnostics + point to SAMPLE_BCs/v2021-09 folder
  GeosCore/input_mod.F90
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
Labels: feature, config-files, diagnostics

#921 [PULL REQUEST] Update volcano emissions to May 2020
  run/CESM/HEMCO_Config.rc
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
Labels: data

#923 [PULL REQUEST] Update IONO2 hydrolysis following Wang et al 2021 (supersedes PR #719)
  KPP/aciduptake/aciduptake.eqn
  KPP/fullchem/fullchem.eqn
  KPP/fullchem/fullchem_RateLawFuncs.F90
  KPP/fullchem/gckpp.map
  KPP/fullchem/gckpp_Function.F90
  KPP/fullchem/gckpp_Jacobian.F90
  KPP/fullchem/gckpp_JacobianSP.F90
  KPP/fullchem/gckpp_LinearAlgebra.F90
  KPP/fullchem/gckpp_Monitor.F90
  KPP/fullchem/gckpp_Parameters.F90
  KPP/fullchem/gckpp_Rates.F90
  KPP/fullchem/gckpp_Util.F90
Labels: feature, KPP / Chem Mechanisms

#919 [PULL REQUEST] Updates for aromatic chem per Kelvin Bates - MSL
  KPP/aciduptake/aciduptake.eqn
  KPP/fullchem/fullchem.eqn
  KPP/fullchem/fullchem_RateLawFuncs.F90
  KPP/fullchem/gckpp.map
  KPP/fullchem/gckpp_Function.F90
  KPP/fullchem/gckpp_Jacobian.F90
  KPP/fullchem/gckpp_JacobianSP.F90
  KPP/fullchem/gckpp_LinearAlgebra.F90
  KPP/fullchem/gckpp_Monitor.F90
  KPP/fullchem/gckpp_Parameters.F90
  KPP/fullchem/gckpp_Rates.F90
  KPP/fullchem/gckpp_Util.F90
  run/CESM/input.geos
  run/GCClassic/input.geos.templates/input.geos.CH4
  run/GCClassic/input.geos.templates/input.geos.CO2
  run/GCClassic/input.geos.templates/input.geos.Hg
  run/GCClassic/input.geos.templates/input.geos.POPs
  run/GCClassic/input.geos.templates/input.geos.TransportTracers
  run/GCClassic/input.geos.templates/input.geos.aerosol
  run/GCClassic/input.geos.templates/input.geos.fullchem
  run/GCClassic/input.geos.templates/input.geos.metals
  run/GCClassic/input.geos.templates/input.geos.tagCH4
  run/GCClassic/input.geos.templates/input.geos.tagCO
  run/GCClassic/input.geos.templates/input.geos.tagO3
  run/GCHP/input.geos.templates/input.geos.CO2
  run/GCHP/input.geos.templates/input.geos.TransportTracers
  run/GCHP/input.geos.templates/input.geos.fullchem
  run/GEOS/input.geos.rc
  run/shared/species_database.yml
Labels: feature, KPP / Chem Mechanisms

#925 Include PET number in error messages if using ESMF
  Headers/errcode_mod.F90
Labels: GCHP

#927 [PULL REQUEST] Fix typos for NEI in GCHP's HISTORY.rc following 13.3.0-alpha.8 update
  run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
Labels: bug
