Repository geoschem/geos-chem, pull requests merged in 2022-05, with the labels that each got.

#990 [PULL REQUEST] Change 4D State_Chm%Species array to vector of 3D concentration arrays
  GeosCore/RnPbBe_mod.F90
  GeosCore/aero_drydep.F90
  GeosCore/aerosol_mod.F90
  GeosCore/airs_ch4_mod.F90
  GeosCore/apm_driv_mod.F90
  GeosCore/calc_met_mod.F90
  GeosCore/carbon_mod.F90
  GeosCore/chemistry_mod.F90
  GeosCore/co2_mod.F90
  GeosCore/convection_mod.F90
  GeosCore/diag1.F90
  GeosCore/diag51_mod.F90
  GeosCore/diag51b_mod.F90
  GeosCore/diagnostics_mod.F90
  GeosCore/dust_mod.F90
  GeosCore/emissions_mod.F90
  GeosCore/exchange_mod.F90
  GeosCore/fast_jx_mod.F90
  GeosCore/fullchem_mod.F90
  GeosCore/global_ch4_mod.F90
  GeosCore/gosat_ch4_mod.F90
  GeosCore/hco_interface_gc_mod.F90
  GeosCore/hco_utilities_gc_mod.F90
  GeosCore/isorropiaII_mod.F90
  GeosCore/linear_chem_mod.F90
  GeosCore/linoz_mod.F90
  GeosCore/mercury_mod.F90
  GeosCore/mixing_mod.F90
  GeosCore/ocean_mercury_mod.F90
  GeosCore/pbl_mix_mod.F90
  GeosCore/planeflight_mod.F90
  GeosCore/pops_mod.F90
  GeosCore/rpmares_mod.F90
  GeosCore/rrtmg_rad_transfer_mod.F90
  GeosCore/seasalt_mod.F90
  GeosCore/set_global_ch4_mod.F90
  GeosCore/sfcvmr_mod.F90
  GeosCore/sulfate_mod.F90
  GeosCore/tagged_co_mod.F90
  GeosCore/tagged_o3_mod.F90
  GeosCore/tccon_ch4_mod.F90
  GeosCore/tomas_mod.F90
  GeosCore/tpcore_fvdas_mod.F90
  GeosCore/tpcore_window_mod.F90
  GeosCore/transport_mod.F90
  GeosCore/ucx_mod.F90
  GeosCore/vdiff_mod.F90
  GeosCore/wetscav_mod.F90
  GeosUtil/unitconv_mod.F90
  Headers/species_mod.F90
  Headers/state_chm_mod.F90
  History/history_mod.F90
  History/history_netcdf_mod.F90
  Interfaces/GCHP/Chem_GridCompMod.F90
  Interfaces/GCHP/gchp_chunk_mod.F90
  Interfaces/GEOS/Includes_After_Run.H
  Interfaces/GEOS/Includes_Before_Run.H
  KPP/aciduptake/aciduptake_DustChemFuncs.F90
  KPP/fullchem/fullchem_SulfurChemFuncs.F90
  ObsPack/obspack_mod.F90
Labels: feature, never stale, structural modification, no-diff update

#1106 [PULL REQUEST] GCHP restart updates for compatibility with newer MAPL
  run/GCHP/GCHP.rc.template
  run/GCHP/runConfig.sh.template
Labels: GCHP, config-files / rundir

#1229 [PULL REQUEST] Bug fixes to remove GCHP diffs if splitting up simulations in time
  GeosCore/aerosol_mod.F90
  GeosCore/carbon_mod.F90
  GeosCore/chemistry_mod.F90
  GeosCore/emissions_mod.F90
  GeosCore/fullchem_mod.F90
  GeosCore/hco_interface_gc_mod.F90
  GeosCore/hco_utilities_gc_mod.F90
  GeosCore/isorropiaII_mod.F90
  GeosCore/sulfate_mod.F90
  GeosCore/ucx_mod.F90
  Headers/state_chm_mod.F90
  Interfaces/GCHP/Chem_GridCompMod.F90
  Interfaces/GCHP/gchp_chunk_mod.F90
  Interfaces/GEOS/Includes_After_Run.H
  Interfaces/GEOS/Includes_Before_Run.H
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.aerosol
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.fullchem
Labels: bug

#1250 Remove TMPU1, SPHU1, PS1_WET, and PS1_DRY from GC-Classic restart file
  GeosCore/hco_interface_gc_mod.F90
  run/CESM/HEMCO_Config.rc
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CO2
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.Hg
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.POPs
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.TransportTracers
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.metals
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCO
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagO3
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.CH4
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.CO2
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.Hg
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.POPs
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.TransportTracers
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.aerosol
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.metals
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.tagCH4
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.tagCO
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.tagO3
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.CO2
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.TransportTracers
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
Labels: bug

#1258 [PULL REQUEST] Rebuild fullchem and Hg mechanisms with KPP 2.5.0
  GeosCore/fullchem_mod.F90
  GeosCore/mercury_mod.F90
  KPP/Hg/CMakeLists.txt
  KPP/Hg/Hg.eqn
  KPP/Hg/Hg.kpp
  KPP/Hg/README.md
  KPP/Hg/commonIncludeVars.H
  KPP/Hg/gckpp.map
  KPP/Hg/gckpp_Function.F90
  KPP/Hg/gckpp_Global.F90
  KPP/Hg/gckpp_Initialize.F90
  KPP/Hg/gckpp_Integrator.F90
  KPP/Hg/gckpp_Jacobian.F90
  KPP/Hg/gckpp_JacobianSP.F90
  KPP/Hg/gckpp_LinearAlgebra.F90
  KPP/Hg/gckpp_Monitor.F90
  KPP/Hg/gckpp_Parameters.F90
  KPP/Hg/gckpp_Rates.F90
  KPP/Hg/gckpp_Util.F90
  KPP/OHreact_parser.py
  KPP/build_mechanism.sh
  KPP/custom/custom.eqn
  KPP/fullchem/CMakeLists.txt
  KPP/fullchem/README.md
  KPP/fullchem/commonIncludeVars.H
  KPP/fullchem/fullchem.eqn
  KPP/fullchem/fullchem.kpp
  KPP/fullchem/gckpp.map
  KPP/fullchem/gckpp_Function.F90
  KPP/fullchem/gckpp_Global.F90
  KPP/fullchem/gckpp_Initialize.F90
  KPP/fullchem/gckpp_Integrator.F90
  KPP/fullchem/gckpp_Jacobian.F90
  KPP/fullchem/gckpp_JacobianSP.F90
  KPP/fullchem/gckpp_LinearAlgebra.F90
  KPP/fullchem/gckpp_Monitor.F90
  KPP/fullchem/gckpp_Parameters.F90
  KPP/fullchem/gckpp_Rates.F90
  KPP/fullchem/gckpp_Util.F90
Labels: feature, KPP / chem mechanisms, no-diff update
