Repository geoschem/geos-chem, pull requests merged in 2022-11, with the labels that each got.

#1476 Bug fix: Only write dry-run header to HEMCO.log if it has a unit number
  Interfaces/GCClassic/main.F90
Labels: bug, dry-run

#1477 Update KPP diagnostics archive flags
  Interfaces/GCClassic/main.F90
Labels: bug, diagnostics

#1367 Adding in dry deposition updates to Hg0 from Feinberg22 ESPI publication + AMAP emissions
  GeosCore/drydep_mod.F90
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.Hg
  run/shared/species_database.yml
  run/shared/species_database_hg.yml
Labels: feature, specialty simulations, GC-WG: Hg-POPs

#1444 Add MO2 + NO3 = NO2 + CH2O + HO2 reaction via KPP
  KPP/custom/custom.eqn
  KPP/fullchem/fullchem.eqn
  KPP/fullchem/gckpp.map
  KPP/fullchem/gckpp_Function.F90
  KPP/fullchem/gckpp_Jacobian.F90
  KPP/fullchem/gckpp_Monitor.F90
  KPP/fullchem/gckpp_Parameters.F90
  KPP/fullchem/gckpp_Rates.F90
  KPP/fullchem/gckpp_Util.F90
Labels: feature, KPP / chem mechanisms, GC-WG: Chemistry

#1483 Fix units of RxnRate diagnostic in Get_MetaData_State_Diag routine
  Headers/state_diag_mod.F90
Labels: bug, diagnostics

#1448 Bug fix: HOBr + SO2 and HOCl +SO2 now produce SO4 instead of SO4s; Closes #1298
  CHANGELOG.md
  KPP/custom/custom.eqn
  KPP/fullchem/fullchem.eqn
  KPP/fullchem/gckpp.map
  KPP/fullchem/gckpp_Function.F90
  KPP/fullchem/gckpp_Jacobian.F90
  KPP/fullchem/gckpp_JacobianSP.F90
  KPP/fullchem/gckpp_LinearAlgebra.F90
  KPP/fullchem/gckpp_Monitor.F90
  KPP/fullchem/gckpp_Parameters.F90
  KPP/fullchem/gckpp_Util.F90
Labels: bug, KPP / chem mechanisms, GC-WG: Chemistry

#1353 Fix memory leaks and other issues identified by the code sanitizer
  CHANGELOG.md
  Headers/input_opt_mod.F90
  Headers/registry_mod.F90
  History/history_mod.F90
  History/history_netcdf_mod.F90
  Interfaces/GCClassic/main.F90
Labels: feature, structural modification, no-diff update, memory

#1505 Fix indentation issue in geoschem_config.yml templates
  CHANGELOG.md
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.CH4
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.CO2
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.Hg
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.POPs
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.TransportTracers
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.aerosol
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.fullchem
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.metals
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.tagCH4
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.tagCO
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.tagO3
Labels: bug, config-files / rundir, zero-diff

#1512 Add fixes to restore the analytical inversion option for CH4 simulations
  GeosCore/input_mod.F90
Labels: bug, specialty simulations, GC-WG: C gases

#1509 GEOS-Chem diagnostics in CESM
  CHANGELOG.md
  run/CESM/HISTORY.rc
Labels: feature, diagnostics, zero-diff, CESM-GC

#1519 Replace HEMCO time slice selection from 'I' to 'C' in CESM
  run/CESM/HEMCO_Config.rc
Labels: CESM-GC

#1520 Turn off GEOS-Chem seasalt emissions in CESM
  run/CESM/HEMCO_Config.rc
Labels: CESM-GC

#1530 Update sample fullchem restart files and specialty simulation oxidant fields to 14.0.0 10-year benchmark output
  run/GCClassic/createRunDir.sh
  run/GCHP/createRunDir.sh
  run/shared/download_data.yml
  run/shared/settings/gmao_hemco.txt
Labels: data sources / I-O

#1540 Restore CH4_RICE emissions in HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCH4
Labels: bug
