Repository geoschem/geos-chem, pull requests merged in 2022-12, with the labels that each got.

#1407 [PULL REQUEST] Move in-module variables in GLOBAL_CH4_MOD to State_Chm
  GeosCore/cleanup.F90
  GeosCore/emissions_mod.F90
  GeosCore/gc_environment_mod.F90
  GeosCore/global_ch4_mod.F90
  GeosCore/hco_interface_gc_mod.F90
  GeosCore/vdiff_mod.F90
  Headers/state_chm_mod.F90
Labels: structural, zero-diff, specialty simulations

#1478 GEOS-Chem Classic netCDF satellite diagnostics (supersedes PR #1134)
  AUTHORS.txt
  CHANGELOG.md
  GeosCore/CMakeLists.txt
  GeosCore/cleanup.F90
  GeosCore/convection_mod.F90
  GeosCore/diag51_mod.F90
  GeosCore/diag51b_mod.F90
  GeosCore/diagnostics_mod.F90
  GeosCore/drydep_mod.F90
  GeosCore/fullchem_mod.F90
  GeosCore/gc_environment_mod.F90
  GeosCore/hco_interface_gc_mod.F90
  GeosCore/mercury_mod.F90
  GeosCore/wetscav_mod.F90
  Headers/state_diag_mod.F90
  History/history_mod.F90
  History/history_netcdf_mod.F90
  Interfaces/GCClassic/main.F90
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.CH4
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.CO2
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.Hg
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.POPs
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.TransportTracers
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.aerosol
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.metals
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.tagCH4
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.tagCO
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.tagO3
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.CO2
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.Hg
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.POPs
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.TransportTracers
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.aerosol
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.metals
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.tagCH4
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.tagCO
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.tagO3
Labels: feature, diagnostics, zero-diff

#1348 Removes HCO_Interface_GC_Mod module variables SZAFACT, JNO2, JOH
  GeosCore/hco_interface_gc_mod.F90
  Headers/state_met_mod.F90
Labels: feature, HEMCO, structural, zero-diff

#1489 Add MAPL ExtData format option required in MAPL 2.26.0
  run/GCHP/CAP.rc.template
Labels: feature, GCHP
