Repository geoschem/geos-chem, pull requests merged in 2022-03, with the labels that each got.

#1112 Fix occasional RRTMG compile error encountered during linking stage
  GeosRad/rrtmg_sw_init.F90
  GeosRad/rrtmg_sw_k_g.F90
Labels: bug, build

#1124 Fixed timesteps and Dust_SF for stretched-grid simulations (runConfig.sh)
  run/GCHP/runConfig.sh.template
Labels: GCHP, config-files / rundir

#1148 CH4 pseudo flux diagnostic
  GeosCore/set_global_ch4_mod.F90
  Headers/state_diag_mod.F90
Labels: diagnostics

#1150 [PULL REQUEST] Updates to tagged O3 simulaton for efficiency and correctness - Closes #1109
  GeosCore/input_mod.F90
  GeosCore/tagged_o3_mod.F90
  run/GCClassic/createRunDir.sh
Labels: feature, specialty simulations

#1159 Fix typos for MULTISEAICE and CEDS_NO_SHIP entries in HEMCO_Config.rc
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
Labels: bug, HEMCO

#1169 [PULL REQUEST] Add updates for numerical stability (should be merged before #1170)
  GeosCore/aerosol_mod.F90
  GeosCore/drydep_mod.F90
  GeosCore/fullchem_mod.F90
  GeosCore/hco_interface_gc_mod.F90
  GeosCore/hco_utilities_gc_mod.F90
  GeosCore/modis_lai_mod.F90
  GeosCore/olson_landmap_mod.F90
  GeosCore/tpcore_fvdas_mod.F90
  GeosCore/vdiff_mod.F90
  GeosUtil/regrid_a2a_mod.F90
  KPP/fullchem/fullchem_SulfurChemFuncs.F90
Labels: feature, performance / parallelization

#1170 [PULL REQUEST] SIV chemistry updates from Mike Long merged atop PR #1161 -- Supersedes #1166
  GeosCore/fullchem_mod.F90
  Headers/state_chm_mod.F90
  KPP/custom/rateLawUtilFuncs.F90
  KPP/fullchem/fullchem.eqn
  KPP/fullchem/fullchem.kpp
  KPP/fullchem/fullchem_HetStateFuncs.F90
  KPP/fullchem/fullchem_RateLawFuncs.F90
  KPP/fullchem/fullchem_SulfurChemFuncs.F90
  KPP/fullchem/gckpp.map
  KPP/fullchem/gckpp_Function.F90
  KPP/fullchem/gckpp_Global.F90
  KPP/fullchem/gckpp_Jacobian.F90
  KPP/fullchem/gckpp_JacobianSP.F90
  KPP/fullchem/gckpp_LinearAlgebra.F90
  KPP/fullchem/gckpp_Monitor.F90
  KPP/fullchem/gckpp_Parameters.F90
  KPP/fullchem/gckpp_Rates.F90
  KPP/fullchem/gckpp_Util.F90
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
Labels: feature, KPP / chem mechanisms

#1178 GCHP fix: move setup_wetscav so C_H2O is not all zeros in first timestep
  Interfaces/GCHP/gchp_chunk_mod.F90
Labels: bug, GCHP

#1182 Extend QFED range end from 2020 to 2022
  run/CESM/HEMCO_Config.rc
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.Hg
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCO
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
Labels: HEMCO, config-files / rundir

#1177 Turn off sea salt aerosol debromination by default
  run/CESM/HEMCO_Config.rc
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GEOS/HEMCO_Config.rc
Labels: feature, HEMCO, config-files / rundir

#1183 [PULL REQUEST] Updated HEMCO_Config.rc and ExtData.rc templates for AEIC2019 emissions
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CO2
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.Hg
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.POPs
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.TransportTracers
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCO
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagO3
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem
  run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.TransportTracers
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
Labels: feature, data, config-files / rundir
