Repository geoschem/geos-chem, pull requests merged in 2022-01, with the labels that each got.

#945 [PULL REQUEST] Added support for driving GEOS-Chem with native GEOS meteorological files
  GeosCore/calc_met_mod.F90
  Interfaces/GCHP/Chem_GridCompMod.F90
  Interfaces/GCHP/Includes_Before_Run.H
  run/GCHP/GCHP.rc.template
  run/GCHP/logging.yml
Labels: feature

#1073 [PULL REQUEST] Retire CH4 wetland emissions extension
  GeosCore/global_ch4_mod.F90
  GeosCore/input_mod.F90
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCH4
  run/GEOS/HEMCO_Config.rc
Labels: feature, HEMCO

#1067 Fix scale factors applied to AEIC VOC emissions - Closes #915
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
Labels: bug, config-files / rundir

#1054 [PULL REQUEST] Add sulfur in-cloud and on seasalt reactions via KPP (Supersedes #934)
  GeosCore/fullchem_mod.F90
  Headers/state_chm_mod.F90
  KPP/aciduptake/aciduptake.eqn
  KPP/fullchem/fullchem.eqn
  KPP/fullchem/fullchem_RateLawFuncs.F90
  KPP/fullchem/fullchem_SulfurChemFuncs.F90
  KPP/fullchem/gckpp.map
  KPP/fullchem/gckpp_Function.F90
  KPP/fullchem/gckpp_Global.F90
  KPP/fullchem/gckpp_Initialize.F90
  KPP/fullchem/gckpp_Integrator.F90
  KPP/fullchem/gckpp_Jacobian.F90
  KPP/fullchem/gckpp_JacobianSP.F90
  KPP/fullchem/gckpp_LinearAlgebra.F90
  KPP/fullchem/gckpp_Monitor.F90
  KPP/fullchem/gckpp_Parameters.F90
  KPP/fullchem/gckpp_Rates.F90
  KPP/fullchem/gckpp_Util.F90
  KPP/fullchem/rateLawUtilFuncs.F90
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
Labels: feature, KPP / Chem Mechanisms
