Repository geoschem/geos-chem, pull requests merged in 2022-06, with the labels that each got.

#1216 [PULL REQUEST] Avoid div-by-zero in routine MMR_Compute_Flux -- Closes #1215
  GeosCore/emissions_mod.F90
Labels: bug, never stale

#1260 Fix HEMCO diagnostic counter zero warnings in full chemistry simulation
  GeosCore/hcoi_gc_diagn_mod.F90
  run/CESM/HEMCO_Diagn.rc
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem.onlineE
  run/GCHP/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
Labels: bug, HEMCO, diagnostics

#1262 Reduce root logging level for MAPL to WARNING
  run/GCHP/logging.yml
Labels: GCHP, config-files / rundir, no-diff update

#1271 Bug fix for GCHP transport tracers simulation in 14.0.0-rc.0
  Interfaces/GCHP/Chem_GridCompMod.F90
Labels: GCHP
