Repository geoschem/geos-chem, pull requests merged in 2023-04, with the labels that each got.

#1724 GCHP bug fixes and run directory updates
  CHANGELOG.md
  Interfaces/GCHP/Chem_GridCompMod.F90
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.Hg
  run/GCHP/ExtData.rc.templates/ExtData.rc.carbon
  run/GCHP/ExtData.rc.templates/ExtData.rc.tagO3
  run/GCHP/GCHP.rc.template
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.CO2
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.TransportTracers
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.carbon
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.tagO3
  run/GCHP/createRunDir.sh
  run/GCHP/runScriptSamples/gchp.batch_job.sh
  run/GCHP/runScriptSamples/gchp.local.run
  run/GCHP/runScriptSamples/operational_examples/harvard_cannon/gchp.run
  run/GCHP/runScriptSamples/operational_examples/mit_hex/gchp.run_HEX
  run/GCHP/runScriptSamples/operational_examples/mit_svante/gchp.run_SVANTE.sh
  run/GCHP/runScriptSamples/operational_examples/nasa_pleiades/gchp.pleiades.run
  run/GCHP/runScriptSamples/operational_examples/nci_gadi/gchp.pbs.run
  run/GCHP/runScriptSamples/operational_examples/wustl_compute1/gchp.batch_job.sh
  run/GCHP/setCommonRunSettings.sh.template
  test/shared/commonFunctionsForTests.sh
Labels: bug, GCHP, config-files / rundir, zero-diff

#1737 Fix bug renaming midrun checkpoint files
  run/GCHP/runScriptSamples/gchp.batch_job.sh
  run/GCHP/runScriptSamples/gchp.local.run
  run/GCHP/runScriptSamples/operational_examples/harvard_cannon/gchp.run
  run/GCHP/runScriptSamples/operational_examples/mit_hex/gchp.run_HEX
  run/GCHP/runScriptSamples/operational_examples/mit_svante/gchp.run_SVANTE.sh
  run/GCHP/runScriptSamples/operational_examples/nasa_pleiades/gchp.pleiades.run
  run/GCHP/runScriptSamples/operational_examples/nci_gadi/gchp.pbs.run
  run/GCHP/runScriptSamples/operational_examples/wustl_compute1/gchp.batch_job.sh
  run/GCHP/setCommonRunSettings.sh.template
Labels: bug, GCHP, config-files / rundir

#1686 Fix computation of planeCount for Harvard Cannon GCHP run scripts and integration test scripts
  run/GCHP/runScriptSamples/operational_examples/harvard_cannon/gchp.run
  test/GCHP/integration/integrationTestExecute.sh
Labels: bug, GCHP, config-files / rundir, testing / benchmarking, zero-diff, runtime

#1733 Restructure photolysis
  CHANGELOG.md
  GeosCore/CMakeLists.txt
  GeosCore/aerosol_mod.F90
  GeosCore/chemistry_mod.F90
  GeosCore/cleanup.F90
  GeosCore/diag3.F90
  GeosCore/dust_mod.F90
  GeosCore/fast_jx_mod.F90
  GeosCore/fjx_interface_mod.F90
  GeosCore/fullchem_mod.F90
  GeosCore/gamap_mod.F90
  GeosCore/gc_environment_mod.F90
  GeosCore/hco_interface_gc_mod.F90
  GeosCore/input_mod.F90
  GeosCore/mercury_mod.F90
  GeosCore/photolysis_mod.F90
  GeosCore/planeflight_mod.F90
  GeosCore/rrtmg_rad_transfer_mod.F90
  GeosCore/set_prof_o3.F90
  GeosCore/ucx_mod.F90
  Headers/CMN_FJX_MOD.F90
  Headers/CMakeLists.txt
  Headers/input_opt_mod.F90
  Headers/phot_container_mod.F90
  Headers/physconstants.F90
  Headers/state_chm_mod.F90
  Headers/state_diag_mod.F90
  Interfaces/GCClassic/main.F90
  Interfaces/GCHP/Chem_GridCompMod.F90
  Interfaces/GCHP/gchp_chunk_mod.F90
  run/CESM/HISTORY.rc
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.Hg
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.aerosol
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.fullchem
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GCHP/geoschem_config.yml.templates/geoschem_config.yml.fullchem
  run/GCHP/setCommonRunSettings.sh.template
  run/GEOS/geoschem_config.yml
Labels: feature, zero-diff

#1732 Update text displayed at user registration during rundir creation
  CHANGELOG.md
  run/shared/newUserRegistration.sh
Labels: feature, config-files / rundir

#1729 Remove array temporaries in carbon_mod.F90 and seasalt_mod.F90
  CHANGELOG.md
  GeosCore/carbon_mod.F90
  GeosCore/seasalt_mod.F90
Labels: bug, zero-diff, performance / parallelization

#1718 Modify HEMCO_Config.rc templates to read HEMCO restart files from the rundir "Restarts/" subdirectory
  CHANGELOG.md
  run/CESM/HEMCO_Config.rc
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCO
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GEOS/HEMCO_Config.rc
Labels: feature, config-files / rundir, zero-diff

#1731 Set CO2 concentration to 421 ppm in fullchem simulations -- fixes CO2 error norm for KPP
  CHANGELOG.md
  GeosCore/chemistry_mod.F90
  GeosCore/fullchem_mod.F90
Labels: feature, KPP / chem mechanisms

#1758 Add GFED4 climatology emissions as an option in HEMCO_Config.rc
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
Labels: HEMCO, Emissions WG

#1773 Update global anthropogenic CH4 emissions to EDGARv7.0
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCH4
  run/GCHP/ExtData.rc.templates/ExtData.rc.carbon
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
Labels: HEMCO, specialty simulations, Emissions WG, Carbon gases WG

#1740 Remove operator splitting in CH4 simulation that biases diagnostics (closes #1738)
  CHANGELOG.md
  GeosCore/global_ch4_mod.F90
Labels: bug, diagnostics, specialty simulations

#1776 Update CH4 simulation to use loss frequencies from GCClassic 14.0.0 10-year benchmark
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCH4
  run/GCHP/ExtData.rc.templates/ExtData.rc.carbon
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/shared/settings/gmao_hemco.txt
Labels: specialty simulations, Carbon gases WG

#1774 Update README.md and AUTHORS.txt for 14.2.0
  AUTHORS.txt
  CHANGELOG.md
  README.md
Labels: documentation, zero-diff

#1777 Update GCHP check for python and bc libs to prevent error checking fail
  run/GCHP/setCommonRunSettings.sh.template
Labels: GCHP, config-files / rundir
