Repository geoschem/geos-chem, pull requests merged in 2023-01, with the labels that each got.

#1482 KPP 3.0.0 with auto-reduction solver
  CHANGELOG.md
  GeosCore/fullchem_mod.F90
  GeosCore/input_mod.F90
  GeosCore/mercury_mod.F90
  Headers/input_opt_mod.F90
  Headers/state_diag_mod.F90
  KPP/Hg/CMakeLists.txt
  KPP/Hg/gckpp.map
  KPP/Hg/gckpp_Function.F90
  KPP/Hg/gckpp_Global.F90
  KPP/Hg/gckpp_Initialize.F90
  KPP/Hg/gckpp_Integrator.F90
  KPP/Hg/gckpp_Jacobian.F90
  KPP/Hg/gckpp_JacobianSP.F90
  KPP/Hg/gckpp_LinearAlgebra.F90
  KPP/Hg/gckpp_Monitor.F90
  KPP/Hg/gckpp_Parameters.F90
  KPP/Hg/gckpp_Rates.F90
  KPP/Hg/gckpp_Util.F90
  KPP/Hg/stub_fullchem_AutoReduceFuncs.F90
  KPP/fullchem/CMakeLists.txt
  KPP/fullchem/fullchem.kpp
  KPP/fullchem/fullchem_AutoReduceFuncs.F90
  KPP/fullchem/fullchem_HetStateFuncs.F90
  KPP/fullchem/gckpp.map
  KPP/fullchem/gckpp_Function.F90
  KPP/fullchem/gckpp_Global.F90
  KPP/fullchem/gckpp_Initialize.F90
  KPP/fullchem/gckpp_Integrator.F90
  KPP/fullchem/gckpp_Jacobian.F90
  KPP/fullchem/gckpp_JacobianSP.F90
  KPP/fullchem/gckpp_LinearAlgebra.F90
  KPP/fullchem/gckpp_Monitor.F90
  KPP/fullchem/gckpp_Parameters.F90
  KPP/fullchem/gckpp_Rates.F90
  KPP/fullchem/gckpp_Util.F90
  KPP/stubs/stub_fullchem_AutoReduceFuncs.F90
  KPP/stubs/stub_fullchem_HetStateFuncs.F90
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.fullchem
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GCHP/geoschem_config.yml.templates/geoschem_config.yml.fullchem
  run/GCHP/setCommonRunSettings.sh.template
  run/GEOS/geoschem_config.yml
Labels: feature, KPP / chem mechanisms, structural

#1435 Retire LWI met-field
  CHANGELOG.md
  GeosCore/drydep_mod.F90
  GeosCore/flexgrid_read_mod.F90
  GeosCore/hco_interface_gc_mod.F90
  Headers/state_met_mod.F90
  Interfaces/GCHP/Chem_GridCompMod.F90
  Interfaces/GCHP/Includes_Before_Run.H
  Interfaces/GCHP/Registry/HEMCO_Registry.rc
  Interfaces/GEOS/GEOSCHEMchem_Registry.rc
  Interfaces/GEOS/Includes_Before_Run.H
  Interfaces/GEOS/geos_interface.F90
  NcdfUtil/perl/definitions_a1.rc
  run/CESM/HISTORY.rc
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.gcap2_metfields
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.gmao_metfields
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.CH4
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.CO2
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.Hg
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.POPs
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.TransportTracers
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.aerosol
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.metals
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.tagCH4
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.tagCO
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.tagO3
  run/GCHP/ExtData.rc.templates/ExtData.rc.CO2
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.CO2
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.CO2
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.TransportTracers
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/shared/settings/geosfp.txt
  run/shared/settings/merra2.txt
  run/shared/settings/native_geosfp.txt
Labels: feature, data sources / I-O

#1577 Fix GCHP bug where fraction snow all zeros
  CHANGELOG.md
  Interfaces/GCHP/Includes_Before_Run.H
Labels: bug, GCHP

#1582 Add missing J-value diagnostics to GCHP HISTORY.rc
  CHANGELOG.md
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
Labels: diagnostics

#1570 Add GCHP operational scripts for UoY
  CHANGELOG.md
  run/GCHP/runScriptSamples/operational_examples/york_viking/README
  run/GCHP/runScriptSamples/operational_examples/york_viking/gchp.intel.2021b.viking.env
  run/GCHP/runScriptSamples/operational_examples/york_viking/gchp.intel.sbatch
Labels: config-files / rundir

#1571 Add GCHP operational run scripts for MIT clusters
  CHANGELOG.md
  run/GCHP/runScriptSamples/operational_examples/mit_hex/README
  run/GCHP/runScriptSamples/operational_examples/mit_hex/gchp.env_HEX
  run/GCHP/runScriptSamples/operational_examples/mit_hex/gchp.run_HEX
  run/GCHP/runScriptSamples/operational_examples/mit_svante/README
  run/GCHP/runScriptSamples/operational_examples/mit_svante/gchp.env_SVANTE
  run/GCHP/runScriptSamples/operational_examples/mit_svante/gchp.run_SVANTE.sh
Labels: config-files / rundir

#1554 Fix parsing error for ObsPack diagnostic species in input_mod.F90 -- Closes #1542
  CHANGELOG.md
  GeosCore/input_mod.F90
Labels: bug, diagnostics, zero-diff

#1591 Fix typos and add explanatory comments for Hg simulation emissions
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.Hg
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.Hg
Labels: specialty simulations

#1589 Add timestep menu back to GCHP geoschem_config.yml templates
  CHANGELOG.md
  Interfaces/GCHP/Chem_GridCompMod.F90
  Interfaces/GCHP/gchp_chunk_mod.F90
  run/GCHP/geoschem_config.yml.templates/geoschem_config.yml.CO2
  run/GCHP/geoschem_config.yml.templates/geoschem_config.yml.TransportTracers
  run/GCHP/geoschem_config.yml.templates/geoschem_config.yml.fullchem
Labels: bug, GCHP, config-files / rundir, zero-diff

#1595 Fix timecycle flag for QFED and OFFLINE emissions in HEMCO_Config.rc
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
Labels: bug

#1551 Add HTAPv3 inventory as a global emissions option
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
Labels: feature, data sources / I-O, config-files / rundir, GC-WG: Emis-Dep

#1597 Fix logic error in GCHP createRunDir.sh for tagO3 simulation
  CHANGELOG.md
  run/GCHP/createRunDir.sh
Labels: bug, GCHP, config-files / rundir

#1601 Add fixes for minor issues in the GCHP tagO3 simulation
  CHANGELOG.md
  Interfaces/GCHP/Chem_GridCompMod.F90
  run/GCHP/ExtData.rc.templates/ExtData.rc.tagO3
Labels: bug, config-files / rundir, specialty simulations

#1521 Fix double-titration of seasalt alkalinity error -- Closes #1506
  CHANGELOG.md
  GeosCore/sulfate_mod.F90
  KPP/fullchem/fullchem_SulfurChemFuncs.F90
Labels: bug, KPP / chem mechanisms, never stale, GC-WG: Aerosols

#1548 Bug fix: restore consideration of sea salt alkalinity to heterogenerous acid-catalyzed reactions of halogens on sea salt aerosols
  CHANGELOG.md
  KPP/fullchem/commonIncludeVars.H
  KPP/fullchem/fullchem.kpp
  KPP/fullchem/fullchem_HetStateFuncs.F90
  KPP/fullchem/fullchem_RateLawFuncs.F90
  KPP/fullchem/gckpp_Global.F90
Labels: bug, KPP / chem mechanisms, never stale

#1615 Add GCHP operational run files for UCI Australia cluster Gadi
  CHANGELOG.md
  run/GCHP/runScriptSamples/operational_examples/uci_gadi/README
  run/GCHP/runScriptSamples/operational_examples/uci_gadi/gchp.pbs.run
  run/GCHP/runScriptSamples/operational_examples/uci_gadi/gchp_env_nci
Labels: GCHP, config-files / rundir

#1611 Change Harvard Cannon "huce_cascade" partition name to "seas_compute" in sample run scripts
  run/GCClassic/runScriptSamples/geoschem.benchmark.run
  run/GCClassic/runScriptSamples/geoschem.run
  run/GCHP/runScriptSamples/gchp.batch_job.sh
  run/GCHP/runScriptSamples/operational_examples/harvard_cannon/gchp.run
Labels: feature, config-files / rundir, zero-diff
