Repository geoschem/geos-chem, pull requests merged in 2023-03, with the labels that each got.

#1677 Move GC-Classic run scripts to operational_examples directory
  CHANGELOG.md
  run/GCClassic/createRunDir.sh
  run/GCClassic/runScriptSamples/operational_examples/harvard_cannon/README
  run/GCClassic/runScriptSamples/operational_examples/harvard_cannon/geoschem.benchmark.run
  run/GCClassic/runScriptSamples/operational_examples/harvard_cannon/geoschem.run
Labels: feature, config-files / rundir

#1679 Fix several issues with GitHub issue and PR templates
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/new-feature-or-discussion.md
  .github/ISSUE_TEMPLATE/question-issue.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
Labels: bug, zero-diff

#1681 Remove references to Compute Canada from data download scripts
  run/shared/download_data.gcap2.40L.yml
  run/shared/download_data.py
  run/shared/download_data.yml
Labels: config-files / rundir

#1642 Add lumped furans to chemistry and biomass burning emissions
  KPP/aciduptake/aciduptake.eqn
  KPP/custom/custom.eqn
  KPP/fullchem/fullchem.eqn
  KPP/fullchem/gckpp_Function.F90
  KPP/fullchem/gckpp_Jacobian.F90
  KPP/fullchem/gckpp_JacobianSP.F90
  KPP/fullchem/gckpp_LinearAlgebra.F90
  KPP/fullchem/gckpp_Monitor.F90
  KPP/fullchem/gckpp_Parameters.F90
  KPP/fullchem/gckpp_Rates.F90
  KPP/fullchem/gckpp_Util.F90
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GCHP/geoschem_config.yml.templates/geoschem_config.yml.fullchem
  run/shared/species_database.yml
Labels: feature, KPP / chem mechanisms, GC-WG: Chemistry, GC-WG: Emis-Dep

#1690 Abstract fullchem mechanism history into CHANGELOG_fullchem.md - closes #1689
  KPP/aciduptake/CHANGELOG_fullchem.md
  KPP/aciduptake/aciduptake.eqn
  KPP/custom/CHANGELOG_fullchem.md
  KPP/custom/custom.eqn
  KPP/fullchem/CHANGELOG_fullchem.md
  KPP/fullchem/fullchem.eqn
Labels: documentation, KPP / chem mechanisms, zero-diff

#1703 Turn on sea salt debromination for full-chemistry simulations
  CHANGELOG.md
  run/CESM/HEMCO_Config.rc
  run/CESM/HEMCO_Diagn.rc
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem.onlineE
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GEOS/HEMCO_Config.rc
Labels: HEMCO, KPP / chem mechanisms

#1609 Now use consistent behavior when the first call to "Integrate" fails
  CHANGELOG.md
  GeosCore/fullchem_mod.F90
  GeosCore/mercury_mod.F90
Labels: feature, KPP / chem mechanisms, zero-diff

#1620 Restore Iy sink reactions and rebuild fullchem mechanism with KPP 3.0.0
  CHANGELOG.md
  GeosCore/fullchem_mod.F90
  KPP/custom/custom.eqn
  KPP/fullchem/fullchem.eqn
  KPP/fullchem/fullchem_RateLawFuncs.F90
  KPP/fullchem/gckpp_Function.F90
  KPP/fullchem/gckpp_Jacobian.F90
  KPP/fullchem/gckpp_JacobianSP.F90
  KPP/fullchem/gckpp_LinearAlgebra.F90
  KPP/fullchem/gckpp_Monitor.F90
  KPP/fullchem/gckpp_Parameters.F90
  KPP/fullchem/gckpp_Rates.F90
Labels: feature, KPP / chem mechanisms

#1623 Include nitrate aerosol photolysis in the troposphere
  GeosCore/fast_jx_mod.F90
  GeosCore/fullchem_mod.F90
  run/CESM/geoschem_config.yml
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.fullchem
  run/GCHP/geoschem_config.yml.templates/geoschem_config.yml.fullchem
  run/GEOS/geoschem_config.yml
Labels: feature, Chemistry WG

#1709 Update HEMCO_Config.rc and ExtData.rc template files to read GFED4 data thru 2022
  CHANGELOG.md
  run/CESM/HEMCO_Config.rc
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CO2
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.Hg
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCH4
  run/GCHP/ExtData.rc.templates/ExtData.rc.carbon
  run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.CO2
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
Labels: feature, data sources / I-O, config-files / rundir, zero-diff

#1628 Add lightning climatology option to HEMCO_Config.rc
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.gmao_metfields
  run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/shared/settings/geosfp.txt
  run/shared/settings/merra2.txt
Labels: feature, HEMCO

#1712 Restore vertical emission distributions to CEDS energy and industry emissions
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
Labels: bug, HEMCO, Emissions WG

#1730 Add fix for CEDS energy and industry emissions to distribute vertically
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
Labels: bug, HEMCO
