Repository geoschem/geos-chem, pull requests merged in 2023-09, with the labels that each got.

#1933 Seasalt alkalinity bug fix
  GeosCore/fullchem_mod.F90
  KPP/fullchem/commonIncludeVars.H
  KPP/fullchem/fullchem_HetStateFuncs.F90
Labels: KPP / chem mechanisms, bugfix

#1935 Fix comments in GeosUtil/unitconv_mod.F90 for MND_to_Kg
  CHANGELOG.md
  GeosUtil/unitconv_mod.F90
Labels: documentation, never stale

#1946 Fix issues that prevented compiling GCClassic with the Custom mechanism
  CHANGELOG.md
  KPP/custom/CMakeLists.txt
  KPP/custom/custom.eqn
  KPP/custom/custom.kpp
  KPP/custom/fullchem_AutoReduceFuncs.F90
  KPP/custom/gckpp.map
  KPP/fullchem/fullchem.kpp
Labels: KPP / chem mechanisms, bugfix

#1952 Restore consideration of sea salt alkalinity to heterogenerous acid-catalyzed reactions of halogens on sea salt aerosols (now fixing typos)
  CHANGELOG.md
  KPP/fullchem/fullchem_RateLawFuncs.F90
  KPP/stubs/stub_fullchem_HetStateFuncs.F90
Labels: bug, KPP / chem mechanisms, Chemistry WG

#1951 Update MPI usage when using CESM
  CHANGELOG.md
  GeosCore/fast_jx_mod.F90
  GeosCore/fjx_interface_mod.F90
  GeosCore/ucx_mod.F90
Labels: interface to external model, CESM-GC

#1957 Update integration test scripts to run on WashU Compute1 cluster
  CHANGELOG.md
  test/integration/GCClassic/integrationTest.sh
  test/integration/GCClassic/integrationTestCompile.sh
  test/integration/GCClassic/integrationTestCreate.sh
  test/integration/GCClassic/integrationTestExecute.sh
  test/integration/GCHP/integrationTest.sh
  test/integration/GCHP/integrationTestCreate.sh
  test/integration/GCHP/integrationTestExecute.sh
Labels: testing / benchmarking, zero-diff, bugfix

#1958 Don't allow user to create MERRA-2 0.25 x 0.3125 run directories for GCClassic
  CHANGELOG.md
  run/GCClassic/createRunDir.sh
Labels: config-files / rundir, zero-diff, bugfix

#1963 Add fixes to allow carbon simulations to run with a single advected species
  CHANGELOG.md
  GeosCore/carbon_gases_mod.F90
  GeosCore/chemistry_mod.F90
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.carbon
  run/GCClassic/createRunDir.sh
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCHP/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.carbon
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.carbon
  run/GCHP/createRunDir.sh
  run/shared/singleCarbonSpecies.sh
  test/integration/GCClassic/integrationTestCreate.sh
Labels: structural, zero-diff, specialty simulations, bugfix

#1934 [feature] add config variable to perturb CH4 boundary conditions
  CHANGELOG.md
  GeosCore/hco_utilities_gc_mod.F90
  GeosCore/input_mod.F90
  GeosCore/set_boundary_conditions_mod.F90
  Headers/input_opt_mod.F90
  Headers/state_chm_mod.F90
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.CH4
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.carbon
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.tagCH4
Labels: feature, structural, zero-diff, specialty simulations, inversions

#1971 Set RUNDIR_GRID_HALF_POLAR when creating run directories 0.25x0.3125 and 0.5x0.625 resolution and global domains
  CHANGELOG.md
  run/GCClassic/createRunDir.sh
Labels: config-files / rundir, bugfix

#1974 Bug fixes: GCHP transport tracers and carbon simulation ExtData.rc
  CHANGELOG.md
  run/GCHP/ExtData.rc.templates/ExtData.rc.CO2
  run/GCHP/ExtData.rc.templates/ExtData.rc.TransportTracers
  run/shared/settings/geosfp.txt
  run/shared/settings/merra2.txt
  run/shared/settings/native_geosfp.txt
Labels: bug, GCHP, config-files / rundir, specialty simulations
