Repository geoschem/geos-chem, pull requests merged in 2024-12, with the labels that each got.

#2608 Fix tagged CO simulation in dev branch
  run/shared/download_data.yml
Labels: no-diff-to-benchmark, category: Bug Fix, topic: Carbon Gases Simulations

#2612 Fix typo in tagco restart date introduced in dev version
  run/shared/download_data.yml
Labels: category: Bug Fix, topic: Carbon Gases Simulations

#2523 Fix convection issues when meteorology is Grell Freitas scheme
  CHANGELOG.md
  GeosCore/convection_mod.F90
  GeosCore/input_mod.F90
  Headers/input_opt_mod.F90
  Interfaces/GCHP/Includes_Before_Run.H
  Interfaces/GCHP/Registry/Chem_Registry.rc
  run/GCClassic/createRunDir.sh
  run/GCHP/createRunDir.sh
  run/GCHP/geoschem_config.yml.templates/geoschem_config.yml.CO2
  run/GCHP/geoschem_config.yml.templates/geoschem_config.yml.TransportTracers
  run/GCHP/geoschem_config.yml.templates/geoschem_config.yml.carbon
  run/GCHP/geoschem_config.yml.templates/geoschem_config.yml.fullchem
  run/GCHP/geoschem_config.yml.templates/geoschem_config.yml.tagO3
Labels: category: Bug Fix, topic: Convection and Mixing

#2553 Updates for GEOS-only code in 14.5
  CHANGELOG.md
  Interfaces/GEOS/Includes_After_Run.H
  Interfaces/GEOS/Includes_Before_Run.H
  Interfaces/GEOS/geos_CarbonInterface.F90
  Interfaces/GEOS/geos_interface.F90
Labels: no-diff-to-benchmark, category: Interface to External Model, topic: GEOS ESM

#2615 Fix bug in GCHP integration test creation due to duplicate "Created " entries in log
  run/GCHP/createRunDir.sh
Labels: topic: Benchmarking and Testing, no-diff-to-benchmark, category: Bug Fix

#2626 Revert CH4 livestock emissions to EDGAR v7
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCHP/ExtData.rc.templates/ExtData.rc.carbon
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
Labels: category: Bug Fix, topic: Carbon Gases Simulations

#2634 Add ozonesonde observation locations to the kpp_standalone_interface.yml file
  CHANGELOG.md
  run/shared/kpp_standalone_interface.yml
Labels: category: Feature Request, topic: Chemical Mechanisms, no-diff-to-benchmark

#2643 Update HEMCO interface for changes to HEMCO error and log handling
  CHANGELOG.md
  GeosCore/hco_interface_gc_mod.F90
  GeosCore/kppsa_interface_mod.F90
  GeosCore/linear_chem_mod.F90
  GeosCore/linoz_mod.F90
Labels: category: Feature Request, topic: HEMCO Submodule, topic: Structural Modifications, no-diff-to-benchmark

#2642 Updates for 14.5 compatibility in CESM
  CHANGELOG.md
  GeosCore/kppsa_interface_mod.F90
  run/CESM/HISTORY.rc
  run/CESM/geoschem_config.yml
  run/shared/species_database.yml
Labels: category: Interface to External Model, topic: CESM

#2661 Fixes for running GEOS-Chem 14.5.1 in GEOS
  CHANGELOG.md
  GeosCore/sulfate_mod.F90
  run/GEOS/GEOSCHEMchem_ExtData.yaml
  run/GEOS/GEOSCHEMchem_GridComp.rc
  run/GEOS/HEMCO_Config.rc
  run/GEOS/HEMCO_DiagnFile.rc
  run/GEOS/HISTORY_CFv2.rc
  run/GEOS/geoschem_config.yml
Labels: no-diff-to-benchmark, category: Interface to External Model, topic: GEOS ESM
