Repository geoschem/geos-chem, pull requests merged in 2024-05, with the labels that each got.

#2272 CH4/carbon simulation updates: (1) Use 0.1 degree mask files; (2) Prevent reading the same variable from disk more than once
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCH4
  run/GCHP/ExtData.rc.templates/ExtData.rc.carbon
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
Labels: topic: Input Data, topic: Configuration Files, topic: Performance, Attn: Carbon gases WG, category: Bug Fix, topic: Carbon Gases Simulations

#2275 Add global continental chlorine (pCl and HCl) emissions
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem
  run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
Labels: category: Feature Request, Attn: Emissions WG, topic: Emissions

#2282 Extend GFED4 emissions through the end of 2023
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CO2
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.Hg
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCH4
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.CO2
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
Labels: category: Feature Request, topic: Input Data, no-diff-to-benchmark, Attn: Emissions WG, topic: Emissions

#2300 Remove large declared array not used
  CHANGELOG.md
  GeosCore/fullchem_mod.F90
Labels: topic: Structural Modifications, no-diff-to-benchmark, topic: Performance, category: Bug Fix

#2297 Retire tagCH4 simulation as an option in GCClassic
  CHANGELOG.md
  GeosCore/chemistry_mod.F90
  GeosCore/gc_environment_mod.F90
  GeosCore/global_ch4_mod.F90
  GeosCore/hco_interface_gc_mod.F90
  GeosCore/hcoi_gc_diagn_mod.F90
  GeosCore/input_mod.F90
  GeosCore/mixing_mod.F90
  Headers/input_opt_mod.F90
  Headers/state_chm_mod.F90
  Headers/state_diag_mod.F90
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCH4
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.CH4
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.tagCH4
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.tagCH4
  run/GCClassic/createRunDir.sh
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.tagCH4
  run/GCClassic/setupForRestarts.sh
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCHP/createRunDir.sh
  run/WRF/ch4/HEMCO_Config.rc
  run/shared/download_data.yml
  test/integration/GCClassic/integrationTestCreate.sh
  test/parallel/GCClassic/parallelTestCreate.sh
Labels: category: Feature Request, no-diff-to-benchmark, Attn: Carbon gases WG, topic: Carbon Gases Simulations

#2288 Update Github issue templates to use issue forms
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/new-feature-or-discussion.md
  .github/ISSUE_TEMPLATE/new-feature.yml
  .github/ISSUE_TEMPLATE/question-discussion.yml
  .github/ISSUE_TEMPLATE/question-issue.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
Labels: category: Feature Request, never stale, no-diff-to-benchmark, topic: GitHub
