Repository geoschem/geos-chem, pull requests merged in 2024-04, with the labels that each got.

#1992 Fixes for the carbon simulation
  CHANGELOG.md
  GeosCore/carbon_gases_mod.F90
  GeosCore/emissions_mod.F90
  KPP/carbon/carbon_Funcs.F90
  KPP/stubs/stub_carbon_Funcs.F90
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCH4
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.CH4
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.carbon
  run/GCHP/ExtData.rc.templates/ExtData.rc.carbon
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.carbon
  run/GCHP/createRunDir.sh
  run/shared/settings/gmao_hemco.txt
  run/shared/singleCarbonSpecies.sh
  test/integration/GCClassic/integrationTestCreate.sh
  test/integration/GCHP/integrationTestCreate.sh
  test/integration/GCHP/integrationTestExecute.sh
Labels: never stale, no-diff-to-benchmark, Attn: Carbon gases WG, category: Bug Fix, topic: Carbon Gases Simulations

#2236 Add CO2, CO, and OCS single-tracer carbon simulations to the integration tests
  CHANGELOG.md
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.carbon
  run/shared/singleCarbonSpecies.sh
  test/integration/GCClassic/integrationTestCreate.sh
  test/integration/GCHP/integrationTestCreate.sh
Labels: category: Feature Request, topic: Benchmarking and Testing, Attn: Carbon gases WG

#2260 Replace stalebot with "stale" GitHub action
  .github/no-response.yml
  .github/stale.yml
  .github/workflows/stale.yml
  CHANGELOG.md
Labels: category: Bug Fix, topic: GitHub

#2072 Only convert units for species that require it
  CHANGELOG.md
  GeosCore/aero_drydep.F90
  GeosCore/aerosol_mod.F90
  GeosCore/airs_ch4_mod.F90
  GeosCore/calc_met_mod.F90
  GeosCore/carbon_mod.F90
  GeosCore/chemistry_mod.F90
  GeosCore/convection_mod.F90
  GeosCore/diagnostics_mod.F90
  GeosCore/dust_mod.F90
  GeosCore/fullchem_mod.F90
  GeosCore/gosat_ch4_mod.F90
  GeosCore/hco_interface_gc_mod.F90
  GeosCore/hco_utilities_gc_mod.F90
  GeosCore/input_mod.F90
  GeosCore/linear_chem_mod.F90
  GeosCore/mercury_mod.F90
  GeosCore/mixing_mod.F90
  GeosCore/pbl_mix_mod.F90
  GeosCore/rrtmg_rad_transfer_mod.F90
  GeosCore/set_boundary_conditions_mod.F90
  GeosCore/set_global_ch4_mod.F90
  GeosCore/sulfate_mod.F90
  GeosCore/tomas_mod.F90
  GeosCore/tracer_mod.F90
  GeosCore/ucx_mod.F90
  GeosCore/vdiff_mod.F90
  GeosCore/wetscav_mod.F90
  GeosUtil/unitconv_mod.F90
  Headers/input_opt_mod.F90
  Headers/species_mod.F90
  Headers/state_chm_mod.F90
  History/history_mod.F90
  Interfaces/GCClassic/main.F90
  Interfaces/GCHP/gchp_chunk_mod.F90
  Interfaces/GEOS/geos_CarbonInterface.F90
  Interfaces/GEOS/geos_interface.F90
  ObsPack/obspack_mod.F90
  run/shared/setupConfigFiles.sh
Labels: category: Feature Request, topic: Structural Modifications, no-diff-to-benchmark, topic: Performance, topic: Math and Units

#2263 Remove hardcoded year range for met fields, restart, and BC files in HEMCO_Config.rc
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.Hg
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.gmao_metfields
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCH4
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
Labels: category: Feature Request, topic: Configuration Files

#2261 Add missing gas postmeter CH4 emissions for the GHGI express extension inventory
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCH4
  run/GCHP/ExtData.rc.templates/ExtData.rc.carbon
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
Labels: Attn: Carbon gases WG, category: Bug Fix, topic: Carbon Gases Simulations, topic: Emissions

#2249 Updates from NASA GMAO
  CHANGELOG.md
  GeosCore/aerosol_mod.F90
  GeosCore/set_global_ch4_mod.F90
  Headers/input_opt_mod.F90
  Headers/state_chm_mod.F90
  Headers/state_diag_mod.F90
  Headers/state_grid_mod.F90
  Interfaces/GCHP/Chem_GridCompMod.F90
  Interfaces/GEOS/geos_TaggedSpecies.F90
  KPP/build_mechanism.sh
  run/GEOS/GEOSCHEMchem_AnaSettings_NO2.rc
  run/GEOS/GEOSCHEMchem_AnaSettings_O3.CDAS.rc
  run/GEOS/GEOSCHEMchem_AnaSettings_O3.rc
  run/GEOS/GEOSCHEMchem_AnaSettings_SO2.rc
  run/GEOS/GEOSCHEMchem_ExtData.yaml
  run/GEOS/GEOSCHEMchem_GridComp.rc
  run/GEOS/GEOSChem_TaggedNOx.rc
  run/GEOS/HEMCO_Config.rc
  run/GEOS/HISTORY_CFv2.rc
  run/GEOS/geoschem_analysis_cdas.yml
  run/GEOS/geoschem_analysis_geosit.yml
  run/GEOS/scripts/create_ch4_offset_file.py
Labels: no-diff-to-benchmark, topic: GEOS ESM

#2266 Removing unused carbon simulation options
  CHANGELOG.md
  GeosCore/co2_mod.F90
  GeosCore/input_mod.F90
  Headers/input_opt_mod.F90
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.CO2
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.carbon
  run/GCHP/geoschem_config.yml.templates/geoschem_config.yml.carbon
  run/WRF/co2/geoschem_config.yml
  run/shared/singleCarbonSpecies.sh
Labels: category: Feature Request, topic: Carbon Gases Simulations

#2254 Fix bug in usage of FRSNO met-field
  CHANGELOG.md
  GeosCore/calc_met_mod.F90
  GeosCore/depo_mercury_mod.F90
  GeosCore/diagnostics_mod.F90
  GeosCore/flexgrid_read_mod.F90
  GeosCore/hco_interface_gc_mod.F90
  GeosCore/land_mercury_mod.F90
  GeosCore/ocean_mercury_mod.F90
  Headers/state_diag_mod.F90
  Headers/state_met_mod.F90
  Interfaces/GCHP/Includes_Before_Run.H
  Interfaces/GEOS/Includes_Before_Run.H
  Interfaces/GEOS/geos_interface.F90
  run/CESM/HISTORY.rc
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.CH4
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.CO2
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.Hg
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.POPs
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.TransportTracers
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.aerosol
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.carbon
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.metals
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.tagCH4
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.tagCO
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.tagO3
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.CO2
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.TransportTracers
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.carbon
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GEOS/TransportTracers/HISTORY.rc
Labels: category: Bug, topic: Input Data, topic: Configuration Files, Attn: Hg-POPs WG

#2244 HETP aerosol thermodynamics
  CHANGELOG.md
  CMakeLists.txt
  GeosCore/CMakeLists.txt
  GeosCore/aerosol_mod.F90
  GeosCore/aerosol_thermodynamics_mod.F90
  GeosCore/apm_driv_mod.F90
  GeosCore/chemistry_mod.F90
  GeosCore/cleanup.F90
  GeosCore/planeflight_mod.F90
  GeosCore/tomas_mod.F90
  Headers/state_chm_mod.F90
  ISORROPIA/.gitignore
  ISORROPIA/CMakeLists.txt
  ISORROPIA/isorropiaII_main_mod.F
  Interfaces/GCHP/Chem_GridCompMod.F90
  KPP/aciduptake/aciduptake.kpp
  KPP/fullchem/commonIncludeVars.H
  KPP/fullchem/fullchem_HetStateFuncs.F90
  LICENSE.txt
Labels: Attn: Aerosols WG, topic: Aerosols
