Repository geoschem/geos-chem, pull requests merged in 2024-02, with the labels that each got.

#2136 Add fixes for TOMAS simulations in GCHP
  CHANGELOG.md
  GeosCore/carbon_mod.F90
  GeosCore/isorropiaII_mod.F90
  GeosCore/sulfate_mod.F90
  GeosCore/tomas_mod.F90
  run/GCClassic/createRunDir.sh
  run/GCHP/createRunDir.sh
  run/shared/setupConfigFiles.sh
Labels: GCHP, testing / benchmarking, no-diff-to-benchmark, specialty simulations, bugfix

#2134 Update run directory scripts to get certain restarts from 14.3.0 1-year benchmark output and boundary condition output
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/createRunDir.sh
  run/shared/download_data.yml
Labels: feature, config-files / rundir

#2100 Replace "huce_intel" with "huce_cascade" in Harvard Cannon sample run scripts
  CHANGELOG.md
  run/GCClassic/runScriptSamples/operational_examples/harvard_cannon/geoschem.benchmark.run
  run/GCClassic/runScriptSamples/operational_examples/harvard_cannon/geoschem.run
  run/GCClassic/runScriptSamples/operational_examples/harvard_cannon/parallelTest.sh
  run/GCHP/runScriptSamples/operational_examples/harvard_cannon/gchp.run
Labels: feature, config-files / rundir, no-diff-to-benchmark

#2138 Run scripts and environment for the Imperial College London HPC
  run/GCHP/runScriptSamples/operational_examples/icl_rcshpc/README
  run/GCHP/runScriptSamples/operational_examples/icl_rcshpc/gchp.env
  run/GCHP/runScriptSamples/operational_examples/icl_rcshpc/gchp.run
Labels: GCHP, config-files / rundir, no-diff-to-benchmark

#2155 Fixes to run GEOS-Chem 14.3 in GEOS
  CHANGELOG.md
  Interfaces/GCHP/Chem_GridCompMod.F90
  Interfaces/GEOS/Includes_After_Run.H
  Interfaces/GEOS/Includes_Before_Run.H
  Interfaces/GEOS/geos_CarbonInterface.F90
  Interfaces/GEOS/geos_interface.F90
  KPP/custom/custom.eqn
  KPP/fullchem/fullchem.eqn
  KPP/fullchem/gckpp_Rates.F90
  run/GEOS/geoschem_config.yml
Labels: interface to external model, bugfix

#2153 Run directory updates related to GEOS-IT
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/createRunDir.sh
  run/GCHP/runScriptSamples/operational_examples/harvard_cannon/gchp.run
  run/GCHP/runScriptSamples/operational_examples/nasa_pleiades/gchp.pleiades.run
  run/GCHP/runScriptSamples/operational_examples/nci_gadi/gchp.pbs.run
  run/shared/settings/geosfp/geosfp.native_ll.txt
  run/shared/settings/geosfp/geosfp.preprocessed_ll.txt
  run/shared/settings/geosit/discover/geosit.native_cs.discover.txt
  run/shared/settings/geosit/discover/geosit.native_ll.discover.txt
  run/shared/settings/geosit/geosit.native_cs.txt
  run/shared/settings/geosit/geosit.native_ll.txt
  run/shared/settings/geosit/geosit.preprocessed_ll.txt
  run/shared/settings/merra2.txt
Labels: GCHP, config-files / rundir, no-diff-to-benchmark, bugfix

#2145 Implement updated timezones file for HEMCO, that better accounts for daylight savings time worldwide
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CO2
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.Hg
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.POPs
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.TransportTracers
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.metals
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCO
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagO3
  run/GCHP/ExtData.rc.templates/ExtData.rc.CO2
  run/GCHP/ExtData.rc.templates/ExtData.rc.TransportTracers
  run/GCHP/ExtData.rc.templates/ExtData.rc.carbon
  run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem
  run/GCHP/ExtData.rc.templates/ExtData.rc.tagO3
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.CO2
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.TransportTracers
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagO3
Labels: feature, data sources / I-O, HEMCO, config-files / rundir

#1979 Update NOAA GMD surface CH4 boundary conditions through 2022
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagCO
  run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
Labels: feature, data sources / I-O, config-files / rundir

#1998 Rename tags in geoschem_config.yml for nitrate aerosol photolysis as per GCSC suggestion
  CHANGELOG.md
  GeosCore/input_mod.F90
  run/CESM/geoschem_config.yml
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.fullchem
  run/GCHP/geoschem_config.yml.templates/geoschem_config.yml.fullchem
  run/GEOS/geoschem_config.yml
Labels: feature, config-files / rundir, Chemistry WG

#2166 Remove remaining binary punch diagnostics code
  CHANGELOG.md
  GeosCore/CMakeLists.txt
  GeosCore/aero_drydep.F90
  GeosCore/carbon_mod.F90
  GeosCore/chemistry_mod.F90
  GeosCore/cleanup.F90
  GeosCore/diag3.F90
  GeosCore/diag_mod.F90
  GeosCore/diagnostics_mod.F90
  GeosCore/dust_mod.F90
  GeosCore/flexgrid_read_mod.F90
  GeosCore/fullchem_mod.F90
  GeosCore/gamap_mod.F90
  GeosCore/gc_environment_mod.F90
  GeosCore/global_ch4_mod.F90
  GeosCore/hco_interface_gc_mod.F90
  GeosCore/hcoi_gc_diagn_mod.F90
  GeosCore/initialize.F90
  GeosCore/input_mod.F90
  GeosCore/mercury_mod.F90
  GeosCore/mixing_mod.F90
  GeosCore/ndxx_setup.F90
  GeosCore/ocean_mercury_mod.F90
  GeosCore/photolysis_mod.F90
  GeosCore/planeflight_mod.F90
  GeosCore/rrtmg_rad_transfer_mod.F90
  GeosCore/sulfate_mod.F90
  GeosCore/tomas_mod.F90
  GeosUtil/CMakeLists.txt
  GeosUtil/bpch2_mod.F90
  GeosUtil/file_mod.F90
  GeosUtil/time_mod.F90
  Headers/CMN_DIAG_mod.F90
  Headers/CMN_O3_mod.F90
  Headers/CMakeLists.txt
  Headers/input_opt_mod.F90
  Interfaces/GCClassic/main.F90
  Interfaces/GCHP/gchp_chunk_mod.F90
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.fullchem
  run/WRF/ch4/geoschem_config.yml
  run/WRF/fullchem/geoschem_config.yml
  test/shared/commonFunctionsForTests.sh
Labels: feature, structural
