Repository geoschem/geos-chem, pull requests merged in 2024-06, with the labels that each got.

#2308 Now use comma-separated list for `exempt-issue-labels` YAML tag in `stale.yml`
  .github/workflows/stale.yml
  CHANGELOG.md
Labels: no-diff-to-benchmark, category: Bug Fix, topic: GitHub

#2317 Fix filename for CMIP6 aircraft emissions in HEMCO_Config.rc.template
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
Labels: topic: Configuration Files, no-diff-to-benchmark, category: Bug Fix, topic: GCAP2 Meteorology

#2346 Correct alphabetical order of complex SOA species in geoschem_config.yml
  CHANGELOG.md
  run/CESM/geoschem_config.yml
  run/shared/setupConfigFiles.sh
Labels: topic: Configuration Files, topic: CESM, category: Bug Fix

#2349 Initialization fix to avoid run-time error in UCX in CESM
  CHANGELOG.md
  GeosCore/ucx_mod.F90
Labels: category: Bug, category: Interface to External Model, topic: CESM

#2326 GCHP run directory fixes and improvements
  CHANGELOG.md
  run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem
  run/GCHP/GCHP.rc.template
  run/GCHP/setCommonRunSettings.sh.template
Labels: category: Feature Request, topic: GCHP, topic: Run Directories
