Repository geoschem/geos-chem, pull requests merged in 2024-10, with the labels that each got.

#2489 Fix a bug in coarse-mode seasalt Ca, Mg, and K
  CHANGELOG.md
  GeosCore/aerosol_thermodynamics_mod.F90
Labels: category: Bug Fix, topic: Aerosols

#2493 Use ALK6 species name for >= C6 alkanes instead of ALK7
  CHANGELOG.md
  KPP/custom/custom.eqn
  KPP/fullchem/fullchem.eqn
  KPP/fullchem/gckpp_Monitor.F90
  KPP/fullchem/gckpp_Parameters.F90
  run/CESM/HEMCO_Config.rc
  run/CESM/geoschem_config.yml
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GCHP/geoschem_config.yml.templates/geoschem_config.yml.fullchem
  run/GEOS/geoschem_config.yml
  run/WRF/fullchem/HEMCO_Config.rc
  run/WRF/fullchem/HEMCO_Diagn.rc
  run/WRF/fullchem/geoschem_config.yml
  run/shared/species_database.yml
Labels: topic: Chemical Mechanisms

#2492 GCHP carbon simulation fixes
  CHANGELOG.md
  run/GCHP/ExtData.rc.templates/ExtData.rc.carbon
Labels: topic: GCHP, category: Bug Fix, topic: Carbon Gases Simulations

#2510 Fix inconsistencies between CO2 simulation and carbon simulation with CO2 only
  CHANGELOG.md
  GeosCore/carbon_gases_mod.F90
  GeosCore/emissions_mod.F90
  GeosCore/input_mod.F90
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CO2
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCClassic/createRunDir.sh
  run/GCHP/ExtData.rc.templates/ExtData.rc.carbon
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/shared/download_data.yml
  run/shared/singleCarbonSpecies.sh
Labels: topic: Configuration Files, category: Bug Fix, topic: Carbon Gases Simulations
