Repository geoschem/geos-chem, pull requests merged in 2024-01, with the labels that each got.

#2095 Increase time limits for GCHP integration tests
  CHANGELOG.md
  test/integration/GCHP/integrationTest.sh
  test/integration/GCHP/integrationTestCompile.sh
  test/integration/GCHP/integrationTestExecute.sh
Labels: GCHP, testing / benchmarking, no-diff-to-benchmark, bugfix

#1848 Updates to run GEOS-Chem with GEOS-IT
  CHANGELOG.md
  GeosCore/flexgrid_read_mod.F90
  Interfaces/GCHP/Registry/Chem_Registry.rc
  Interfaces/GEOS/GEOSCHEMchem_Registry.rc
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.gcap2_metfields
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.gmao_metfields
  run/GCClassic/createRunDir.sh
  run/GCClassic/runScriptSamples/operational_examples/nasa_discover/README
  run/GCClassic/runScriptSamples/operational_examples/nasa_discover/gcc.discover.build
  run/GCClassic/runScriptSamples/operational_examples/nasa_discover/gcc.discover.env
  run/GCClassic/runScriptSamples/operational_examples/nasa_discover/gcc.discover.run
  run/GCHP/ExtData.rc.templates/ExtData.rc.CO2
  run/GCHP/ExtData.rc.templates/ExtData.rc.TransportTracers
  run/GCHP/ExtData.rc.templates/ExtData.rc.carbon
  run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem
  run/GCHP/ExtData.rc.templates/ExtData.rc.tagO3
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/createRunDir.sh
  run/GCHP/runScriptSamples/operational_examples/nasa_discover/README
  run/GCHP/runScriptSamples/operational_examples/nasa_discover/gchp.discover.build
  run/GCHP/runScriptSamples/operational_examples/nasa_discover/gchp.discover.env
  run/GCHP/runScriptSamples/operational_examples/nasa_discover/gchp.discover.run
  run/GCHP/setCommonRunSettings.sh.template
  run/shared/settings/geosfp/geosfp.derived_1hr_wind_cs.txt
  run/shared/settings/geosfp/geosfp.native_1hr_mass_flux_cs.txt
  run/shared/settings/geosfp/geosfp.native_3hr_wind_ll.txt
  run/shared/settings/geosfp/geosfp.native_ll.txt
  run/shared/settings/geosfp/geosfp.preprocessed_ll.txt
  run/shared/settings/geosit/discover/geosit.native_cs.discover.txt
  run/shared/settings/geosit/discover/geosit.native_ll.discover.txt
  run/shared/settings/geosit/discover/geosit.native_mass_flux.discover.txt
  run/shared/settings/geosit/discover/geosit.native_wind_cs.discover.txt
  run/shared/settings/geosit/discover/geosit.native_wind_ll.discover.txt
  run/shared/settings/geosit/geosit.native_cs.txt
  run/shared/settings/geosit/geosit.native_ll.txt
  run/shared/settings/geosit/geosit.native_mass_flux.txt
  run/shared/settings/geosit/geosit.native_wind_cs.txt
  run/shared/settings/geosit/geosit.native_wind_ll.txt
  run/shared/settings/geosit/geosit.preprocessed_ll.txt
  run/shared/settings/merra2.txt
Labels: feature, data sources / I-O, config-files / rundir

#2062 Updates from GMAO for GEOS
  GeosCore/fullchem_mod.F90
  Headers/input_opt_mod.F90
  Headers/state_diag_mod.F90
  Interfaces/GCHP/Chem_GridCompMod.F90
  Interfaces/GCHP/gchp_chunk_mod.F90
  Interfaces/GEOS/geos_CarbonInterface.F90
  Interfaces/GEOS/geos_analysis.F90
  Interfaces/GEOS/geos_interface.F90
  KPP/fullchem/commonIncludeVars.H
  KPP/fullchem/fullchem_HetStateFuncs.F90
  KPP/fullchem/fullchem_RateLawFuncs.F90
  run/CESM/HISTORY.rc
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GEOS/GEOSCHEMchem_ExtData.yaml
  run/GEOS/GEOSCHEMchem_GridComp.rc
  run/GEOS/HEMCO_Config.rc
  run/GEOS/geoschem_config.yml
Labels: diagnostics, no-diff-to-benchmark, interface to external model

#2104 Fix additional memory leaks in GEOS-Chem
  CHANGELOG.md
  Headers/phot_container_mod.F90
  Headers/state_chm_mod.F90
Labels: memory, bugfix

#2109 Limit Cloud-J initialization prints to single core
  GeosCore/cldj_interface_mod.F90
Labels: no-diff-to-benchmark

#2111 Add fix to cldj_interface_mod.F90 to avoid floating-point exception in GCHP integration tests
  GeosCore/cldj_interface_mod.F90
Labels: bugfix

#2071 Add nitrate aerosol to Ox family definition in gckpp.kpp
  KPP/custom/custom.kpp
  KPP/fullchem/CHANGELOG_fullchem.md
  KPP/fullchem/fullchem.kpp
  KPP/fullchem/gckpp_Function.F90
  KPP/fullchem/gckpp_Jacobian.F90
  KPP/fullchem/gckpp_JacobianSP.F90
  KPP/fullchem/gckpp_LinearAlgebra.F90
  KPP/fullchem/gckpp_Monitor.F90
  KPP/fullchem/gckpp_Parameters.F90
Labels: Chemistry WG, bugfix

#2010 Stratospheric adjustment and additional output fields for RRTMG in GCHP
  CHANGELOG.md
  GeosCore/input_mod.F90
  GeosCore/rrtmg_rad_transfer_mod.F90
  GeosUtil/error_mod.F90
  Headers/diaglist_mod.F90
  Headers/input_opt_mod.F90
  Headers/phot_container_mod.F90
  Headers/state_chm_mod.F90
  Headers/state_diag_mod.F90
  Headers/state_met_mod.F90
  Interfaces/GCClassic/main.F90
  Interfaces/GCHP/Chem_GridCompMod.F90
  Interfaces/GCHP/Includes_Before_Run.H
  Interfaces/GCHP/gchp_chunk_mod.F90
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.fullchem
  run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem
  run/GCHP/GCHP.rc.template
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GCHP/geoschem_config.yml.templates/geoschem_config.yml.fullchem
Labels: feature, GCHP, never stale, diagnostics
