Repository geoschem/geos-chem, pull requests merged in 2025-04, with the labels that each got.

#2799 Fix GC-Classic TOMAS slowness introduced in 14.4.0
  CHANGELOG.md
  GeosCore/convection_mod.F90
  GeosCore/tomas_mod.F90
  GeosUtil/unitconv_mod.F90
  Headers/state_diag_mod.F90
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
Labels: topic: Performance, category: Bug Fix, Topic: Fullchem Simulations

#2800 Add fixes to eliminate differences between the carbon simulation and individual CO2, CH4, and CO simulations
  CHANGELOG.md
  GeosCore/carbon_gases_mod.F90
  GeosCore/co2_mod.F90
  GeosCore/tagged_co_mod.F90
  KPP/carbon/carbon.eqn
  KPP/carbon/carbon_Funcs.F90
  KPP/carbon/gckpp_Function.F90
  KPP/carbon/gckpp_Monitor.F90
  KPP/carbon/gckpp_Parameters.F90
  KPP/carbon/gckpp_Rates.F90
  KPP/carbon/gckpp_Util.F90
  KPP/fullchem/commonIncludeVars.H
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CO2
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.carbon
  run/shared/singleCarbonSpecies.sh
  run/shared/species_database.yml
Labels: no-diff-to-benchmark, category: Bug Fix, topic: Carbon Gases Simulations

#2803 Add hotfixes for compilation issues present in PR #2800
  KPP/Hg/Hg_HetStateFuncs.F90
  KPP/fullchem/fullchem_HetStateFuncs.F90
  KPP/stubs/stub_carbon_Funcs.F90
Labels: no-diff-to-benchmark, category: Bug Fix, topic: Carbon Gases Simulations

#2801 Update CH4 global oil, gas, and coal emissions from GFEIv2 to GFEIv3
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCHP/ExtData.rc.templates/ExtData.rc.carbon
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
Labels: category: Feature Request, no-diff-to-benchmark, topic: Carbon Gases Simulations, topic: Emissions

#2806 Fix bugs in GCHP species diagnostics and metric.py
  CHANGELOG.md
  Interfaces/GCHP/gchp_chunk_mod.F90
  run/shared/metrics.py
Labels: topic: GCHP, topic: Diagnostics, category: Bug Fix
