Repository geoschem/geos-chem, pull requests merged in 2025-06, with the labels that each got.

#2900 Add FINN v2.5 biomass burning as an optional inventory
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.Hg
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.POPs
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.TransportTracers
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.gcap2_metfields
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.gmao_metfields
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.gmao_metfields_0125
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.metals
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagO3
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.Hg
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.POPs
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.TransportTracers
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.aerosol
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.aerosol.onlineE
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.carbon
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem.onlineE
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.metals
  run/GCClassic/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.tagO3
  run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.CO2
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.TransportTracers
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.tagO3
  run/GCHP/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.TransportTracers
  run/GCHP/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.carbon
  run/GCHP/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.fullchem
  run/GCHP/HEMCO_Diagn.rc.templates/HEMCO_Diagn.rc.tagO3
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.carbon
Labels: category: Feature Request, topic: Input Data, topic: Configuration Files, topic: Emissions

#2899 Fix several additional issues in the ObsPack diagnostic
  CHANGELOG.md
  ObsPack/obspack_mod.F90
Labels: topic: Diagnostics, no-diff-to-benchmark, category: Bug Fix

#2905 Fix for GEOS-Chem Classic compilation issue with GNU 14 compiler
  CHANGELOG.md
  History/histitem_mod.F90
Labels: topic: Build, topic: Diagnostics, category: Bug Fix

#2921 Update GEOS-IT simulations to use offline emissions generated with GEOS-IT
  CHANGELOG.md
  run/CESM/HEMCO_Config.rc
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.aerosol
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.gmao_metfields
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.gmao_metfields_0125
  run/GCHP/ExtData.rc.templates/ExtData.rc.fullchem
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/WRF/fullchem/HEMCO_Config.rc
  run/shared/settings/geosfp/geosfp.preprocessed_ll.txt
  run/shared/settings/geosfp/geosfp.raw_ll.txt
  run/shared/settings/geosit/geosit.preprocessed_0.5x0.625.txt
  run/shared/settings/geosit/geosit.preprocessed_c180.txt
  run/shared/settings/geosit/geosit.raw_0.5x0.625.txt
  run/shared/settings/geosit/geosit.raw_c180.txt
  run/shared/settings/merra2.txt
Labels: category: Feature Request, topic: Input Data, topic: Configuration Files
