Repository geoschem/geos-chem, pull requests merged in 2025-10, with the labels that each got.

#3062 Updates for GCHP conservation of restart file species mass
  CHANGELOG.md
  Interfaces/GCHP/Chem_GridCompMod.F90
  run/GCHP/GCHP.rc.template
Labels: topic: GCHP Only, category: Bug Fix, topic: Restart Files

#3066 Toggle "read_restart_as_real8" from false to true for fullchem benchmark simulations
  CHANGELOG.md
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.TransportTracers
  run/shared/setupConfigFiles.sh
Labels: category: Feature Request, topic: Benchmarking and Testing, topic: Run Directories

#3011 Turn off PARANOx for GEOS-Chem Classic 0.25 x 0.3125 and 0.125 x 0.15625 grids
  CHANGELOG.md
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.fullchem
  run/GCClassic/createRunDir.sh
Labels: topic: Nested Grid Simulation, no-diff-to-benchmark, category: Bug Fix, topic: Run Directories
