Repository geoschem/geos-chem, pull requests merged in 2025-08, with the labels that each got.

#2990 Update GCHP AWS EFA operational run script examples to avoid crashes
  CHANGELOG.md
  run/GCHP/runScriptSamples/operational_examples/aws_pcluster/README
  run/GCHP/runScriptSamples/operational_examples/aws_pcluster/gchp.run
Labels: topic: User Environment, topic: GCHP, no-diff-to-benchmark, category: Bug Fix

#2885 Update for MAPL 2.59 compatibility
  CHANGELOG.md
  run/CESM/HISTORY.rc
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.CH4
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.CO2
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.Hg
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.POPs
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.TransportTracers
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.aerosol
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.carbon
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.metals
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.tagCO
  run/GCClassic/HISTORY.rc.templates/HISTORY.rc.tagO3
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.CO2
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.TransportTracers
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.carbon
  run/GCHP/HISTORY.rc.templates/HISTORY.rc.fullchem
  run/GCHP/logging.yml
  run/GCHP/runScriptSamples/gchp.batch_job.sh
  run/GCHP/runScriptSamples/gchp.local.run
  run/GCHP/runScriptSamples/operational_examples/harvard_cannon/gchp.run
  run/GCHP/runScriptSamples/operational_examples/icl_rcshpc/gchp.run
  run/GCHP/runScriptSamples/operational_examples/msu_orion/gchp.run
  run/GCHP/runScriptSamples/operational_examples/nasa_discover/gchp.run
  run/GCHP/runScriptSamples/operational_examples/nasa_pleiades/gchp.pleiades.run
  run/GCHP/runScriptSamples/operational_examples/nci_gadi/gchp.pbs.run
  run/GCHP/runScriptSamples/operational_examples/wustl_compute1/c360_requeuing.sh
  run/GCHP/runScriptSamples/operational_examples/wustl_compute1/gchp.batch_job.sh
  run/GCHP/setCommonRunSettings.sh.template
  run/GEOS/TransportTracers/HISTORY.rc
  run/WRF/co2/HISTORY.rc
  run/WRF/fullchem/HISTORY.rc
  test/integration/GCHP/integrationTestExecute.sh
Labels: category: Feature Request, topic: GCHP, topic: Configuration Files, topic: Diagnostics, no-diff-to-benchmark

#2997 Pass in second when calling Accept_External_Date_Time
  Interfaces/GCHP/gchp_chunk_mod.F90
Labels: topic: Structural Modifications, category: Interface to External Model, category: Bug Fix

#3000 Fixed OM/OC ratio for OCPO in SimpleSOA
  CHANGELOG.md
  GeosCore/aerosol_mod.F90
Labels: category: Bug Fix, topic: Aerosols
