Repository geoschem/geos-chem, pull requests merged in 2025-09, with the labels that each got.

#3021 Merge updates from dev/no-diff-to-benchmark into dev/14.7.0 in advance of 14.7.0 release
  CHANGELOG.md
  GeosCore/diagnostics_mod.F90
  Headers/species_database_mod.F90
  Headers/species_mod.F90
  Interfaces/GCHP/Chem_GridCompMod.F90
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.CH4
  run/GCClassic/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCHP/ExtData.rc.templates/ExtData.rc.carbon
  run/GCHP/HEMCO_Config.rc.templates/HEMCO_Config.rc.carbon
  run/GCHP/runScriptSamples/operational_examples/aws_pcluster/README
  run/GCHP/runScriptSamples/operational_examples/aws_pcluster/gchp.run
  run/GCHP/runScriptSamples/operational_examples/wustl_compute1/README
  run/GCHP/runScriptSamples/operational_examples/wustl_compute1/execute.sh
  run/GCHP/runScriptSamples/operational_examples/wustl_compute1/gchp.batch_job.sh
  run/GCHP/runScriptSamples/operational_examples/wustl_compute2/README
  run/GCHP/runScriptSamples/operational_examples/wustl_compute2/gchp.run
  run/GCHP/runScriptSamples/operational_examples/wustl_compute2/gchp_202505_hpcx_openmpi4_serial_IO.env
Labels: category: Feature Request, no-diff-to-benchmark

#3027 Remove Is_Advected tags from species database template files
  CHANGELOG.md
  run/shared/species_database.yml
  run/shared/species_database_apm.yml
  run/shared/species_database_hg.yml
  run/shared/species_database_tomas.yml
Labels: category: Feature Request, no-diff-to-benchmark, topic: Run Directories

#3020 Unhide feature to bypass HEMCO to read GC-Classic restart file
  CHANGELOG.md
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.Hg
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.POPs
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.TransportTracers
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.aerosol
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.carbon
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.fullchem
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.metals
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.tagCO
  run/GCClassic/geoschem_config.yml.templates/geoschem_config.yml.tagO3
Labels: category: Feature Request, topic: Configuration Files, topic: Restart Files, topic: GC-Classic Only
